<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>A Web Page</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
    @{
        string[] foodArray = {"Apple Pie", "Burritos", "Clams Casino", "Donuts",};
    }
    @for (int i = 0; i < foodArray.Length; i++)
    {
        String foodString = foodArray[i];
        @if (foodString[0] == 'C' || foodString[0] == 'c')
            {
                <div>
                    <p class="text-danger">@foodString</p>
                </div>
            }
        else
            {
                <div>
                    <p>@foodString</p>
                </div>
            }
    }
</body>
</html>
